<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1">
  <!--Pinterest Domain Verification-->
  <meta name="p:domain_verify" content="8b133c49230540d29a598cf37976f96b"/>
  <link rel="icon" type="image/png" href="./assets/B-Logo-Blue.png">
  <title>Brandon Mailhiot</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
  <link href="https://fonts.googleapis.com/css?family=Tinos:700|Lato:300" rel="stylesheet">
  <link href='styles/main.css' rel='stylesheet'>
  <link href='styles/FilterSet.css' rel='stylesheet'>
  <link href='styles/Grid.css' rel='stylesheet'>
  <link href='styles/Logo.css' rel='stylesheet'>
  <link href='styles/Search.css' rel='stylesheet'>
  <link href='styles/Sidebar.css' rel='stylesheet'>
  <link href='styles/About.css' rel='stylesheet'>
  <link href='styles/AboutSquare.css' rel='stylesheet'>
  <link href='styles/Projects.css' rel='stylesheet'>
  <link href='styles/Contact.css' rel='stylesheet'>
  <link href='styles/SocialSquare.css' rel='stylesheet'>
</head>
<body>
  <div id="app"><%- markup -%></div>

  <script src="bundle.js"></script>
  <script src="analytics.js"></script>
</body>
</html>
